:root{
    --bg: #ECECEC;
    --border: #DADADA;


    --text: #9E9E9E;
    --text-light: #DBD7D5;
    --text-disabled: #D1D2D4;
    --not-available: #acacac;
    
    --text-header: #484848;

    --primary: #00DBB1;
    --primary-light: #C3FEF8;
    --primary-dark: #5ea6aa77;

    --icon: #365C54;
}